
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block content %}
   <h1>{{article.heading_of_article|currency}}</h1>
   <hr>
       <table>
           <tr>
               <td>Название статьи:</td>
               <td>{{ article.heading_of_article|currency }}</td>

           </tr>

           <tr>
               <td>Время:</td>
                <!-- Добавим специальный фильтр truncatechars,
                чтобы ограничить количество символов до 15.
                Все остальные символы превратятся в многоточие. -->

               <td>{{ article.datetime_of_appear }}</td>


           </tr>

           </tr>
                  <td>Текст статьи:</td>
                <td>{{ article.text_of_article|currency }}</td>
           </tr>

       </table>


{% endblock content %}